div.header-wrapper
  div.logo-wrapper
   img.logo(src='./img/Logo.svg')
   span.title Какой-то заголовок

  div.menu-and-userarea
    ul.main-menu
      li.menu-item Каталог
      li.menu-item Доставка и оплата
      li.menu-item О нас
    div.userarea
      span Вход / Регистрация




