extends ../_template.pug

block content
  h3 Товары

   each p in products
    div.product-wrapper
     h3= p.title
     p= p.description
  //div.main-content
  //  p= title
  //  p= message
  //
  //  ul.products
  //    each p in products
  //     li
  //      img(src='http://localhost:1337'+p.images[0].formats.small.url alt="")
  //      h4= p.title
  //      p= p.description
